.navbar-nav{
    margin-left: auto;
}

.btn{
    font-family:Helvetica;
    color:rgb(174, 245, 183);
    size: 5px;
    font-size: 12px;
}

.btn:hover{
    color:rgb(174, 245, 183);


}
.navbar-nav .nav-link{
    color: rgb(174, 245, 183);
    font-size: 12px;
    font-family:Helvetica;
    text-shadow: 1px 1px 5px rgb(255, 253, 253);
}

.port{
    color: rgb(250, 250, 250);
    font-size: 20px;
    font-family:Lucida Handwriting;
    text-shadow: 1px 1px 5px rgb(255, 253, 253);


}

.start{
    font-size: 15px;
    padding: 0%;
    margin-top: 300px;
    margin-left: 400px;
    color: rgb(174, 245, 183);
    font-family:Lucida Handwriting;
    align-self: flex-end;
    align-self: left;
    text-shadow: 1px 1px 5px rgb(255, 253, 253);

}

.Name{
    padding-top: 0%;
    margin-left: 400px;

    color: whitesmoke;
    font-family:  fantasy;
    font-size: 70px;
    text-shadow: 1px 1px 5px rgb(167, 166, 166);


}

.NameDown{
    padding-top: 0%;
    margin-left: 400px;

    color: rgb(172, 171, 171);
    font-family:  fantasy;
    font-size: 40px;
    opacity: 100%;

}

h3{
    margin-top: 20px;
    font-size: 15px;
    padding: 0%;
    margin-left: 400px;
    margin-right: 350px;
    color: rgb(172, 171, 171);
    font-family:Helvetica;
    font-size: 20px;
    margin-bottom: 0%;
}

.setPos{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}